<nav class="navbar bg-light">
    <div class="container container-fluid">
      <a class="navbar-brand" href="{% url 'main:home' %}">Best School</a>
      <!-- 
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      -->
      <span class="btn btn-link nav-link">
        {% if user.is_authenticated %}
        <a href="{% url 'profiles:profile' %}"><em>{{ user.username }}</em></a> |
        <a href="{% url 'logout' %}">logout</a>
        {% else %}
        <a href="{% url 'login' %}">login</a>
        {% endif %}
      </span>
    </div>
  </nav>