{% extends 'base.html' %}{% load static %}

{% block title %}Main Page{% endblock title %}

<!-- connecting to main css files -->
{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'main/css/main_style.css' %}">
{% endblock extrastyle %}

{% block content %}
<img src="{{ profile.avatar }}" alt="image">
<h6>@{{ profile.user.username }}</h6>
<h1>Main Page</h1>
<p>Here is where we start</p>
<hr>
<h2>TODO app</h2>
<div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ title }}</h5>
      <p class="card-text">{{ text }}</p>
      <a href="#" class="btn btn-primary">valider</a>
    </div>
  </div>
{% endblock content %}
