{% extends 'base.html' %}{% load static %}

{% block title %}Main Page{% endblock title %}

<!-- connecting to main css files -->
{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'main/css/main_style.css' %}">
{% endblock extrastyle %}

{% block content %}
{% if user.is_authenticated %}
  <img id="profile-img" src="{{ profile.avatar }}" alt="{{ profile.user.username }}">
  <span>@{{ profile.user.username  }}</span>
  <h1>Main Page</h1>
  <p>Here is where we start</p>
  <hr>
    {% include 'todo/todos.html' %}


{% else %}
  <p>Vous n'etes pas connecté</p>
  <a class="btn btn-outline-success" href="{% url 'login' %}">login</a>
{% endif %}
{% endblock content %}
